header {
  display: fixed;
  text-align: center;
}

ul li {
  display: inline-block;  /* リストを横並びにする */
  width: 100px;
  margin: 1px;     /* 枠外の余白 */
  padding: 5px;   /* 枠内の余白 */
  border: 1px solid; /* メニュー項目の枠線 */
  border-radius: 5px;
}

div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse:  collapse;
}

tr:nth-child(odd) {
  background-color: #eff9f0;
}

th {
  text-align: center;
  padding: 5px;
}

td {
  text-align: left;
  padding: 5px;
}

/* テーブル幅 */
.d1 {
  width: 200px;
}

/* テーブル幅 */
.d2 {
  width: 80px;
  text-align: center;
}

/* m_top テキスト位置 */
.d3 {
  text-align: center;
}

/* テーブル幅 */
.d4 {
  width: 120px;
  text-align: center;
}

/* テーブル幅 */
.d5 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 120px;
}
