body{
  width: 800px;
  border: thin none black;
  margin: 0 auto;
}
header{
  position: static;
  text-align: center;
}

ul li {
  display: inline-block;  /* リストを横並びにする */
  width: 100px;
  margin: 1px;     /* 枠外の余白 */
  padding: 5px;   /* 枠内の余白 */
  border: 1px solid; /* メニュー項目の枠線 */
  border-radius: 5px;
  text-align: center;
}

h2{
  text-align: center;
}
#material_name{
  border: thin none black;
  text-align: center;
}
#material_img{
  float: left;
  width: 300px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#material_text{
  float: left;
  width: 480px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin none black;
  height: 298px;
}
#material_control{
  clear: both;
}
.right{
  text-align: right;
  border: thin none black;
}
.grade{
  border: thin none black;
  text-align: center;
  padding-bottom: 35px;
  background-color: yellow;
}
.user_name{
  float: left;
  text-align: left;
  border: thin none black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 18px;
  background-color: #FFFFFF;
}
.star{
  float: right;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 18px;
}
.comment{
  border: thin none black;
  width: 760px;
  margin: 0px auto 5px;
  clear: both;
  min-height: 100px;
  text-align: left;
  background-color: #FFFFFF;
}
.grade_date{
  text-align: left;
  margin-bottom: 5px;
  margin-left: 18px;
  float: left;
  border: thin none black;
  background-color: #FFFFFF;
}
.goodcnt{
  float: right;
  background-color: #FFFFFF;
}
.good{
  float: right;
  margin-bottom: 5px;
  margin-right: 18px;
}
.delete{
  clear: both;
  text-align: right;
}
