body{
  background: linear-gradient(-225deg, #afd4ff 0%, #f3efff 50%, #ffb2e6 100%);
}

header{
  position: static;
  text-align: center;
}

.back{
  text-align: center;
  width: 900px;
  border: thin none black;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff;
}

ul li {
  display: inline-block;  /* リストを横並びにする */
  width: 100px;
  margin: 1px;     /* 枠外の余白 */
  padding: 8px;   /* 枠内の余白 */
  border: 3px solid #8ad8b2; /* メニュー項目の枠線 */
  border-radius: 5px;
  background-color: #8ad8b2;
  color: #ffffff;
}

ul li:hover{
  background-color: #ffffff;
}

.li_a{
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.li_a:visited {
  color: #ffffff;
}

.li_a:hover {
  color: #8ad8b2;
}

h2{
  text-align: center;
}
.left{
  text-align: left;
  margin-left: 20px;
}
#material_name{
  border: thin none black;
  text-align: center;
  background-color: #8ad8b2;
  border-radius: 5px;
  margin: 0px 20px 0px;

}
#material_img{
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px 10px 10px 20px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
}

.material_img_size{
  max-width: 240px;
  max-height: 240px;
  margin: 0px auto 0px;
}

#material_text{
  float: left;
  width: 480px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: thin none black;
  height: 298px;
  text-align: left;
}
.material_control{
  clear: both;
}
.right{
  text-align: right;
  border: thin none black;
  margin-right: 20px;
}
.grade{
  margin-top: 10px;
  clear: both;
  border: thin none black;
  text-align: center;
  padding-bottom: 0px;
  background-color: yellow;
  border-radius: 5px;
  margin-bottom: 10px;
}
.user_name{
  float: left;
  text-align: left;
  border: thin none black;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  background-color: #FFFFFF;
  padding-left: 5px;
  padding-right: 5px;
}
.star{
  float: right;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.comment{
  border: thin none black;
  width: 840px;
  margin: 0px auto 5px;
  clear: both;
  min-height: 100px;
  text-align: left;
  background-color: #FFFFFF;
  padding: 10px
}
.grade_date{
  text-align: left;
  margin-bottom: 5px;
  margin-left: 20px;
  float: left;
  border: thin none black;
  background-color: #FFFFFF;
  padding-left: 5px;
  padding-right: 5px;
}
.goodcnt{
  float: right;
}
.good{
  float: right;
  margin-bottom: 5px;
  margin-right: 20px;
}
.delete{
  text-align: right;
  margin-top: 10px;
  clear: both;
}
