body{
  background: linear-gradient(-225deg, #afd4ff 0%, #f3efff 50%, #ffb2e6 100%);
}

header{
  position: static;
}
.back{
  text-align: center;
  width: 900px;
  border: thin none black;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffffff;
}

ul li {
  display: inline-block;  /* リストを横並びにする */
  width: 100px;
  margin: 1px;     /* 枠外の余白 */
  padding: 8px;   /* 枠内の余白 */
  border: 3px solid #8ad8b2; /* メニュー項目の枠線 */
  border-radius: 5px;
  background-color: #8ad8b2;
  color: #ffffff;
}

ul li:hover{
  background-color: #ffffff;
}

.li_a{
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.li_a:visited {
  color: #ffffff;
}

.li_a:hover {
  color: #8ad8b2;
}

.titleImg{
  float: left;
  width: 500px;
  margin-bottom: 10px;
  margin-left: 72px;
}
#calendar{
  float: left;
  width: 250px;
  height: 260px;
  margin-left: 6px;
  padding:10px;
  margin-bottom: 10px;
}
#table_calendar{
  width: 100%;
  font-size: small;
}
.th{
  background-color: #EEEEEE;
  width: 50px;
}
.td{
  height: 35px;
  padding-top: 0px;
  border: thin solid #CCCCCC;
}
#search{
  clear: both;
  margin: 10px 70px 0px 70px;
  text-align: center;
  border: thin none blue;
  padding: 10px;
  background-color: #EEEEEE;
}
#table_search{
  text-align: center;
  border: thin none blue;
  margin:0px auto 0px;
}
#table_top{
  width: 790px;
  text-align: center;
  border: thin none black;
  margin:0px auto 0px;
}
.insert_user{
  margin-left:auto;
  margin-right:auto;
}
.material_th{
  border: thin solid #CCCCCC;
  background-color: #EEEEEE;
}
.material{
  border: thin solid #CCCCCC;
  max-width: 300px;
  word-break : break-all;
  overflow: hidden;
}
.comment{
  display: -webkit-box;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.material_list{
  border-collapse: separate;
  width: 800px;
  color: #282b2b;
  margin-left:auto;
  margin-right:auto;
}
.ml_th{
  border: thin solid #CCCCCC;
}
.ml_td{
  border: thin solid #CCCCCC;
  height: 150px;
}

.ml_tr:nth-child(even) {
	background: #d8ffee;
}
.ml_tr{
  height: 150px;
}

div.titleImg {
    width: 500px; /* スライドショーの幅 */
    position: relative;
}

.titleImg img {
    animation: show 12s infinite; /* 12秒のスライドショーを繰り返し */
    max-width: 100%;
    height: auto;
    opacity: 0;
    position: absolute; /* 画像を重ねて表示 */
    left: 0;
    top: 0;
}

@keyframes show {
    0% {opacity: 0}
    17% {opacity: 1}
    33% {opacity: 1}
    50% {opacity: 0}
}

.titleImg img:nth-of-type(1) {
    position: relative;
}

.titleImg img:nth-of-type(2) {
    animation-delay: 0s;
}

.titleImg img:nth-of-type(3) {
    animation-delay: 4s;
}

.titleImg img:nth-of-type(4) {
    animation-delay: 8s;
}

#select_genre{
  width: 243px;
  height: 23px;
}
.update_user{
  width: 235px;
  height: 15px;
}
.update_user2{
  width: 243px;
  height: 23px;
}
.update_user3{
  width: 243px;
}
.img_material{
  max-width: 150px;
  max-height: 150px;
}
.right{
  text-align: right;
  margin-right: 20px;
}
#form_update{
  width: 500px;
  margin: 0px auto 0px;
}
.error{
  color: red;
  font-weight: bold;
}
